.social-icon-container {
  top: 38%;
  flex-direction: column;
  z-index: 999;
}

.consultation {
  top: 12%;
  right: 2%;
  z-index: 999;
}

@media (max-width: 850px) {
  .social-icon-container {
    top: auto;
    bottom: 10%;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
  }

  .consultation {
    top: 8%;
  }
}

@media (max-width: 567px) {
  .social-icon-container {
    bottom: 18%;
  }

  .consultation {
    top: auto;
    bottom: 10%;
    display: flex;
    width: 100vw;
    justify-content: center;
  }
}