.home-banner {
  background-image: url("/assets/lady-justice.webp");
  background-size: cover;
  /* background-attachment: fixed; */
}

.home-text {
  left: 10%;
}

.home-subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 13px;
}

.home-btn {
  letter-spacing: 5px;
}
