.home-landing {
  background-image: url("/assets/lady-justice-home.jpg");
  background-size: cover;
  background-position: center;
}

.home-landing-inner {
  left: 20%;
  top: 15%;
}

.home-subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 13px;
}

.responsive-image {
  max-width: 38rem;
  height: auto;
}

.home-btn {
  letter-spacing: 5px;
  font-size: 1.25rem;
}

.home-about {
  z-index: 999;
  margin-top: -16rem;
}

.home-contact {
  margin-top: -13rem;
}

.about-img {
  filter: saturate(0);
}

.about-priscilla {
  font-size: 2.4rem;
  border-bottom: 3px solid var(--pctpink);
}

iframe {
  filter: invert(1) hue-rotate(90deg) saturate(30%) brightness(1.5);
}

.contact-btn {
  box-shadow: var(--pct-pink-shadow);
}

#PracticeAreas {
  scroll-margin-top: -10px;
}

@media (max-width: 576px) {
  .home-landing {
    background-image: url("/assets/lady-justice-home-mobile.jpg");
  }

  .responsive-image {
    max-width: 24rem;
    margin: 0 !important;
  }

  .home-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 0;
  }

  .home-services {
    flex-direction: column !important;
    row-gap: 3rem;
  }

  .home-about {
    margin-top: -10rem;
    width: 90%;
  }

  .home-contact {
    margin-top: 0;
  }

  .home-contact-inner {
    width: 90% !important;
  }
}
