@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --pctwhite: #ffffff;
  --pctblack: #000000;
  --pctpink: #facbe7;
  --pctgold: #ffd077;
  --pct-pink-shadow: rgba(255, 142, 221, 0.4) 0px 5px, rgba(255, 142, 221, 0.3) 0px 10px, rgba(255, 142, 221, 0.2) 0px 15px, rgba(255, 142, 221, 0.1) 0px 20px, rgba(255, 142, 221, 0.05) 0px 25px;
}

body {
  background-image: url("/assets/lady-justice.jpg");
  background-size: cover;
  background-position: center;
  background-color: #f8f2f2;
}

* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.text-pink {
  color: var(--pctpink);
}

.text-thin {
    font-weight: 300;
}

.parallelogram {
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  color: var(--pctblack);
  z-index: 1;

}

.parallelogram:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--pctwhite);
  z-index: -1;
  transform: skew(-15deg);
  box-shadow: rgba(149, 157, 165, .5) 0px 0px 15px;
}


.parallelogram-inverse {
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.parallelogram-inverse:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border: 2px solid var(--pctgold);
  z-index: -1;
  transform: skew(-15deg);
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--pctgold);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-hover {
  transition: all .5s ease;
}

.btn-hover:hover {
  color: var(--pctgold) !important;
  transform: translateY(-15%);
  cursor: pointer;
}