@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --pctwhite: #ffffff;
  --pctblack: #000000;
  --pctpink: #facbe7;
  --pctgold: #c88f31;
  --pct-pink-shadow: rgba(255, 142, 221, 0.4) 0px 5px, rgba(255, 142, 221, 0.3) 0px 10px, rgba(255, 142, 221, 0.2) 0px 15px, rgba(255, 142, 221, 0.1) 0px 20px, rgba(255, 142, 221, 0.05) 0px 25px;
}

body {
  background-size: cover;
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.text-pink {
  color: var(--pctpink);
}

.text-gold {
  color: var(--pctgold);
}

.text-thin {
    font-weight: 300;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--pctgold);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-hover {
  transition: all .5s ease;
}

.btn-hover:hover {
  color: var(--pctgold) !important;
  transform: translateY(-15%);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--pctblack);
  border: none;
  box-shadow: var(--pct-pink-shadow);
  transition: all .5s ease;
}

.btn-primary:hover {
  background-color: var(--pctblack);
  color: var(--pctgold);
}