@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --pctwhite: #ffffff;
  --pctblack: #000000;
  --pctpink: #facbe7;
  --pctgold: #ffbf46;
}

* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.text-pink {
  color: var(--pctpink);
}

.text-thin {
    font-weight: 300;
}

.parallelogram {
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  color: var(--pctblack);
  z-index: 1;
}

.parallelogram:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--pctwhite);
  z-index: -1;
  transform: skew(-15deg);
}

.parallelogram-inverse {
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.parallelogram-inverse:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border: 2px solid var(--pctwhite);
  z-index: -1;
  transform: skew(-15deg);
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--pctgold);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
