.pct-logo {
    height: 11rem;
    width: 11rem;
    transform-style: preserve-3d;
    transform-origin: 50%;
    animation: spin 8s infinite;
    animation-timing-function: linear;
    margin: 1.5rem;
  }
  
  .pct-logo .front,
  .pct-logo .back {
    position: absolute;
    height: 11rem;
    width: 11rem;
    background-size: cover;
    background-image: url("/assets/PCT-3d-logo.png");
  }