.Nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nav-link {
  height: 2.5rem;
}

.nav-link a {
  letter-spacing: 2px;
  font-weight: 500;
  transition: all .5s ease;
}

.nav-link a:hover {
  color: var(--pctpink) !important;
}

.dropdown-item:hover {
  background-color: var(--pctpink) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

#navLinksDropdown {
  height: 21.6px !important;
}

.dropdown-toggle {
  transition: all 0.5s ease;
}

.dropdown:hover .dropdown-toggle {
  color: var(--pctpink) !important;
}

.dropdown-menu.show {
  inset: 25px auto auto -40px !important;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 576px) {
  .nav-link a {
    font-size: 0.8rem;
  }

  .pct-logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
