.Nav {
  background-size: cover;
  background-attachment: fixed;
}

.nav-link a {
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.social-icon {
  transition: all 0.5s ease;
}

.social-icon:hover {
  color: var(--pctpink);
  transform: scale(1.3);
}

.chevron-sm {
  font-size: 0.7rem;
}

/* ribbon nav */

.ribbon-nav {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  background: #222;
  border-radius: 5px;
}

.ribbon-nav::after,
.ribbon-nav::before {
  content: "";
  position: absolute;
  top: 6px;
  border: 23px solid #000;
  z-index: -1;
  border-radius: 5px;
}

/* The left ribbon */
.ribbon-nav::before {
  border-left-color: transparent;
  left: -30px;
}

/* The right ribbon */
.ribbon-nav::after {
  border-right-color: transparent;
  right: -30px;
}

.ribbon-nav > li > a {
  display: inline-block;
  color: #fff;
  padding: 15px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.ribbon-nav > li > a:hover {
  color: var(--pctpink);
}

.pct-logo {
  height: 13rem;
  width: 13rem;
  transform-style: preserve-3d;
  transform-origin: 50%;
  animation: spin 8s infinite;
  animation-timing-function: linear;
}

.pct-logo .front,
.pct-logo .back {
  position: absolute;
  height: 13rem;
  width: 13rem;
  background-size: cover;
  background-image: url("/assets/PCT-3d-logo.png");
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
