.Nav {
    background-image: url("/assets/stone.png");
    background-size: cover;
    background-attachment: fixed;
}

.nav-link a {
    font-size: .85rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.social-icon {
    transition: all .5s ease;
}

.social-icon:hover {
    color: var(--pctpink);
    transform: scale(1.3);
}

.chevron-sm {
    font-size: .7rem;
}