.ftr-title {
    letter-spacing: 4px;
    font-weight: 600;
}

.copyright {
    font-size: 0.7rem;
    letter-spacing: 1.5px;
}

@media (max-width: 576px) {
    .ftr {
        margin-bottom: 9rem;
    }
}